<mat-toolbar fxLayout="row" fxLayoutAlign="start center" class="nav">
  <button *ngIf="userSession.isMobile" mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <a routerLink="/" class="nav__brand">
      <h1>My App</h1>
    </a>
    <ng-container *ngIf="!userSession.isMobile && (accountService.currentUser$ | async)">
      <a
        *ngFor="let menu of navMenuItems"
        class="nav__page-route"
        [routerLink]="menu.routerLink"
        routerLinkActive="nav__page-route--active"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.name }}</span>
        </div>
      </a>
    </ng-container>
    <ng-container>
      <a
        *ngFor="let menu of errorMenuItems"
        class="nav__page-route"
        [routerLink]="menu.routerLink"
        routerLinkActive="nav__page-route--active"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.name }}</span>
        </div>
      </a>
    </ng-container>
  </div>
  <span fxFlex></span>
  <form
    *ngIf="!(accountService.currentUser$ | async)"
    #navLoginForm="ngForm"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
    (ngSubmit)="login()"
    autocomplete="off"
  >
    <mat-form-field appearance="outline" class="nav__login-form">
      <mat-label>Username</mat-label>
      <input matInput name="username" [(ngModel)]="model.username" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="nav__login-form">
      <mat-label>Password</mat-label>
      <input matInput name="password" [(ngModel)]="model.password" type="password" />
    </mat-form-field>
    <button mat-flat-button class="nav__login-btn" type="submit">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </div>
    </button>
  </form>
  <button *ngIf="(accountService.currentUser$ | async) as user" mat-flat-button [matMenuTriggerFor]="navMenu">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <img class="nav__user-photo" [src]="user.photoUrl || './assets/images/user.png'" [alt]="user.username" />
      <span>Welcome, {{ user.username | titlecase }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>
  <mat-menu #navMenu="matMenu">
    <button mat-menu-item routerLink="/member/edit">Edit Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
