<mat-sidenav-container [style.height.%]="100" [style.background-color]="'transparent'">
  <mat-sidenav #mainSideNav fxLayout="column" class="sidenav" [style.width.px]="200" [style.padding.px]="20">
    <a routerLink="/" class="sidenav__brand">
      <h1>My App</h1>
    </a>
    <div *ngIf="accountService.currentUser$ | async" fxLayout="column">
      <a
        *ngFor="let menu of navMenuItems"
        class="sidenav__page-route"
        [routerLink]="menu.routerLink"
        routerLinkActive="sidenav__page-route--active"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.name }}</span>
        </div>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-nav [sideNav]="mainSideNav"></app-nav>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
