.sidenav {
  &__brand {
    color: black;
    text-decoration: none;

    * {
      margin-top: 0;
    }
  }

  &__page-route {
    text-decoration: none;

    div {
      margin-bottom: 10px;
      padding: 5px;

      &:hover, &--active {
        background-color: gray;
        color: white;
      }
    }
  }
}
