<form
  fxLayout="column"
  #registerForm="ngForm"
  (ngSubmit)="register()"
  autocomplete="off"
>
  <h2>Sign Up</h2>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput name="username" [(ngModel)]="model.username" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput name="password" [(ngModel)]="model.password" type="password" />
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-flat-button color="primary" type="submit">Register</button>
    <button mat-flat-button color="accent" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
